In [43]:
import requests
import pandas as pd
import urllib
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

In [44]:
query = "data"
status = "closed"
query_html = urllib.parse.quote_plus(query)
url = 'https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities?q=' + query + '&statusOpenClosed=' + status + ''

In [45]:
r = requests.get(url)
content = r.text

In [46]:
soup = BeautifulSoup(content, "lxml")

In [47]:
sections = soup.find_all("li", class_ = "app-search-result")
opp_list = []
for section in sections:
    opp_name = section.h2.a.text
    opp_url = section.h2.a["href"]
    opp_list.append({"opp_name" : opp_name, "opp_url" : opp_url})

print(len(opp_list))

30

In [48]:
df = pd.DataFrame(opp_list)
df.reset_index(drop=True)

# Create a database engine
engine = create_engine('sqlite:///test.db')

# Drop the table if it already exists
engine.execute('DROP TABLE IF EXISTS my_table')

# Write the dataframe to a table in the database
df.to_sql('my_table', engine)

# Query the database using SQL syntax
query = 'SELECT opp_name, opp_url FROM my_table'
results = pd.read_sql(query, engine)

# # View the results as a Pandas dataframe
results.head()

,opp_name,opp_url
0,DWP Identity Business Analyst 2,/digital-outcomes-and-specialists/opportunitie...
1,Data Centre Move Consultancy copy,/digital-outcomes-and-specialists/opportunitie...
2,DWP USS User Researcher,/digital-outcomes-and-specialists/opportunitie...
3,"Social care data access project, user needs di...",/digital-outcomes-and-specialists/opportunitie...
4,Designing Data Stewardship Models for Artifici...,/digital-outcomes-and-specialists/opportunitie...